.aem-main .columns > div {
  display: flex;
  flex-direction: column;
}

.aem-main .columns img {
  width: 100%;
}

.aem-main .columns > div > div {
  order: 1;
}

.aem-main .columns > div > .columns-img-col {
  order: 0;
}

.aem-main .columns > div > .columns-img-col img {
  display: block;
}

@media (width >= 900px) {
  .aem-main .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 32px;
  }

  .aem-main .columns > div > div {
    flex: 1;
    order: unset;
  }
}
